config LOSCFG_DRIVERS_I2C
    bool "Enable I2C"
    default y
    depends on LOSCFG_DRIVERS
    help
      Answer Y to enable LiteOS support i2c.
config LOSCFG_I2C_ADAPTER_COUNT
    int "Number of i2c adapter count"
    depends on LOSCFG_DRIVERS_I2C
    range 0 128
    default 4
    help
      I2c adatper count, range from 0 to 128.
config LOSCFG_HOST_TYPE_HIBVT
    bool "i2c host type is hibvt"
    default y
    depends on LOSCFG_DRIVERS && (LOSCFG_PLATFORM_HIFONE || LOSCFG_PLATFORM_HI3516CV300)
    help
      i2c host type is hibvt.
